<div class="row mt 5">
    <h2>Créer une nouvelle tâche</h2>
        <form  >
      <label for="titre">Titre:</label>
      <input type="text" name="titre" [(ngModel)]="taskSchema.titre" placeholder="Titre" >
  
      <label for="description">Description:</label>
      <input type="text" name="description" [(ngModel)]="taskSchema.description" placeholder="Description" >
  
      <label for="dateFin">Date de fin:</label>
      <input type="date" name="dateFin" [(ngModel)]="taskSchema.dateFin" >
  
      <label for="proprietaire">Propriétaire:</label>
      <input type="text" name="Proprietaire" [(ngModel)]="taskSchema.Proprietaire" placeholder="Propriétaire" >
  
      <label for="priorite">Priorité:</label>
      <input type="text" name="Priorite" [(ngModel)]="taskSchema.Priorite" placeholder="Priorité" >
  
      <label for="etat">État:</label>
      <input type="text" name="Etat" [(ngModel)]="taskSchema.Etat" placeholder="État" >
  
      <label for="categorie">Catégorie:</label>
      <input type="text" name="categorie" [(ngModel)]="taskSchema.categorie" placeholder="Catégorie" >
  
      <button (click)="update()" type="submit">Modifier</button>
    </form>
    </div>
